extends layout

block content
    .d-flex.flex-column.align-items-center
        if process_name != ''
            h6.text-secondary.mt-3= process_name
        .card.mt-5(style='width: 512px')
            .card-header
                h6.text-info wait for verification results
            .card-body
                .d-flex.flex-row.justify-content-center.align-items-center
                    if viewresult
                        .d-flex.flex-row.justify-content-around
                            .d-flex.flex-column.justify-content-start
                                .card(style='min-width: 726px')
                                    .card-header
                                        div(data-toggle='toggle')
                                            .float-right.text-right
                                                +displayResult(check.result)
                                                .small.card-category created at:&nbsp;
                                                    +displayDate(check.created_at)
                                            h6.card-title Check
                                            p.card-category=  check.id
                                    .card-body.hide(style='display:none;')
                                        pre= JSON.stringify(check, null, 4)
                                if reports
                                    each report in reports
                                        .card
                                            .card-header
                                                div(data-toggle='toggle')
                                                    .float-right.text-right
                                                        if report.subResult
                                                            +displayResult(report.sub_result)
                                                        else if report.result
                                                            +displayResult(report.result)
                                                        else
                                                            +displayStatus(report.status)
                                                        .small.card-category created at:&nbsp;
                                                            +displayDate(report.created_at)
                                                    h6.card-title= report.name
                                                    p.card-category=  report.id
                                            .card-body.hide(style='display:none;')
                                                if Object.keys(report.breakdown).length > 0
                                                    h4.float-right Breakdown
                                                    div
                                                        +reportBreakdown(report.breakdown)
                                                if Object.keys(report.breakdown).length > 0 && Object.keys(report.properties).length > 0
                                                    hr
                                                if Object.keys(report.properties).length > 0
                                                    h4.float-right Properties
                                                    div
                                                        if report.name == 'known_faces'
                                                            +displayKnownFacesProperties(report.properties,0)
                                                        else
                                                            +displayJson(report.properties,0)
                    else
                        .loader
                        #countdown.text-secondary.ml-2 15s

append bottom
    script(src='/javascripts/step_wait.js')