extends layout

block content
    .d-flex.flex-column
        .d-flex.flex-row.justify-content-around
            a.btn.btn-outline-secondary.py-4.mx-4(href='/sdk') Capture (SDK)
            - var canWeAuthenticate = (photos.length > 0 || videos.length > 0)
            if true
                a.btn.btn-outline-secondary.py-4.mx-4(href='/authenticate') Authenthicate (SDK)
            - var hasSomethingToVerify = true //(documents.length > 0 || photos.length > 0 || videos.length > 0)
            //- if hasSomethingToVerify
            if true
                a.btn.btn-outline-secondary.py-4.mx-4(href='/checks/new') Verify (API)
            a.btn.btn-outline-secondary.py-4.mx-4(href='/checks') Consult checks
            a.btn.btn-outline-warning.py-4.mx-4(href='/orchestration') Orchestration
        .d-flex.flex-row.justify-content-around.mt-5
            img(alt='Web SDK Diagram' title='Web SDK Diagram' src='https://developers.onfido.com/static/cfb59ca6fbda28702cbfba92de140f76/c35de/web-integration.jpg' style='max-width: 800px;')


    