extends layout

block content
    form(action='/checks/new' method='post')
        .d-flex.flex-column
            .d-flex.flex-row.justify-content-around
                a.btn.btn-outline-secondary.py-4.mx-4(href='/sdk') Capture (SDK)
                - var canWeAuthenticate = (photos.length > 0 || videos.length > 0)
                if canWeAuthenticate
                    a.btn.btn-outline-secondary.py-4.mx-4(href='/authenticate') Authenthicate (SDK)
                - var hasSomethingToVerify = true //(documents.length > 0 || photos.length > 0 || videos.length > 0)
                //- if hasSomethingToVerify
                if true 
                    a.btn.py-4.mx-4(href='/checks/new') Verify (API)
                a.btn.btn-outline-secondary.py-4.mx-4(href='/checks') Consult checks
                a.btn.btn-outline-warning.py-4.mx-4(href='/orchestration') Orchestration
            .d-flex.flex-row.justify-content-around.mt-4
                if documents.length > 0
                    .d-flex.flex-column.flex-wrap.justify-content-start.align-items-start
                        h6 Document Reports
                        .custom-control.custom-switch
                            input#reportDocument.custom-control-input(name='reports' type='checkbox' value='document' checked)
                            label.custom-control-label.text-secondary(for='reportDocument') Document
                        //- .custom-control.custom-switch
                        //-     input#reportDocumentWAI.custom-control-input(name='reports' type='checkbox' value='document_with_address_information')
                        //-     label.custom-control-label.text-secondary(for='reportDocumentWAI') Document with address information
                        .custom-control.custom-switch
                            input#reportDocumentWDLI.custom-control-input(name='reports' type='checkbox' value='document_with_driving_licence_information')
                            label.custom-control-label.text-secondary(for='reportDocumentWDLI') Document with driving licence information
                        .custom-control.custom-switch
                            input#reportDocumentVideo.custom-control-input(name='reports' type='checkbox' value='document_video_capture' disabled)
                            label.custom-control-label.text-secondary(for='reportDocumentVideo') Document video capture
                        .my-2
                        .form-group
                            label.bmd-label-floating Front document ID
                            input#frontDocumentId.form-control(type='text' name='frontDocumentId')
                        .form-group
                            label.bmd-label-floating Back document ID
                            input#backDocumentId.form-control(type='text' name='backDocumentId')
                        .my-2
                if photos.length > 0 || videos.length > 0 
                    .d-flex.flex-column.flex-wrap.justify-content-start.align-items-start.ml-5
                        h6 Facial Similarity Reports
                        if photos.length > 0
                            .custom-control.custom-switch
                                input#reportPhoto.custom-control-input(name='reports' type='checkbox' value='facial_similarity_photo' checked)
                                label.custom-control-label.text-secondary(for='reportPhoto') Photo (selfie)
                            .custom-control.custom-switch
                                input#reportPhotoFullyAuto.custom-control-input(name='reports' type='checkbox' value='facial_similarity_photo_fully_auto')
                                label.custom-control-label.text-secondary(for='reportPhotoFullyAuto') Photo fully auto (selfie)
                        if videos.length > 0
                            .custom-control.custom-switch
                                input#reportVideo.custom-control-input(name='reports' type='checkbox' value='facial_similarity_video' checked)
                                label.custom-control-label.text-secondary(for='reportVideo') Video (liveness)
                        .my-2
                        h6 Known Faces
                        .custom-control.custom-switch
                                input#reportKnownFaces.custom-control-input(name='reports' type='checkbox' value='known_faces')
                                label.custom-control-label.text-secondary(for='reportKnownFaces') Known faces
                if true
                    .d-flex.flex-column.flex-wrap.justify-content-start.align-items-start.ml-5
                        h6 Watchlist Reports
                        .custom-control.custom-switch
                            input#reportWatchlistStandard.custom-control-input(name='reports' type='checkbox' value='watchlist_standard')
                            label.custom-control-label.text-secondary(for='reportWatchlistStandard') Watchlist standard
                        .custom-control.custom-switch
                            input#reportWatchlistPEPS.custom-control-input(name='reports' type='checkbox' value='watchlist_peps_only')
                            label.custom-control-label.text-secondary(for='reportWatchlistPEPS') Watchlist PEPS only
                        .custom-control.custom-switch
                            input#reportWatchlistSanctions.custom-control-input(name='reports' type='checkbox' value='watchlist_sanctions_only')
                            label.custom-control-label.text-secondary(for='reportWatchlistSanctions') Watchlist sanctions only
                        .my-2
                    .d-flex.flex-column.flex-wrap.justify-content-start.align-items-start.ml-5
                        h6 Other Reports
                        .custom-control.custom-switch
                            input#reportApplicantFraud.custom-control-input(name='reports' type='checkbox' value='applicant_fraud')
                            label.custom-control-label.text-secondary(for='reportApplicantFraud') Applicant Fraud
                        .custom-control.custom-switch
                            input#reportIdentityEnhanced.custom-control-input(name='reports' type='checkbox' value='identity_enhanced')
                            label.custom-control-label.text-secondary(for='reportIdentityEnhanced') Identity enhanced
                        .custom-control.custom-switch
                            input#reportProofOfAddress.custom-control-input(name='reports' type='checkbox' value='proof_of_address')
                            label.custom-control-label.text-secondary(for='reportProofOfAddress') Proof of Address
                        .custom-control.custom-switch
                            input#reportRightToWork.custom-control-input(name='reports' type='checkbox' value='right_to_work')
                            label.custom-control-label.text-secondary(for='reportRightToWork') Right to Work
                        .my-2
            .d-flex.flex-row.justify-content-around.mt-4
                button#createCheck.btn.btn-outline-info.my-4(type='submit') submit check
                if check
                    a#refreshCheck.btn.btn-outline-primary.my-4(href='/checks/'+check.id) refresh
            if check
                .d-flex.flex-row.justify-content-around
                    .d-flex.flex-column.justify-content-start
                        .card(style='min-width: 726px')
                            .card-header
                                div(data-toggle='toggle')
                                    .float-right.text-right
                                        +displayResult(check.result)
                                        .small.card-category created at:&nbsp;
                                            +displayDate(check.created_at)
                                    h6.card-title Check
                                    p.card-category=  check.id
                            .card-body.hide(style='display:none;')
                                pre= JSON.stringify(check, null, 4)
                        if reports
                            each report in reports
                                .card
                                    .card-header
                                        div(data-toggle='toggle')
                                            .float-right.text-right
                                                if report.sub_result
                                                    +displayResult(report.sub_result)
                                                else if report.result
                                                    +displayResult(report.result)
                                                else
                                                    +displayStatus(report.status)
                                                .small.card-category created at:&nbsp;
                                                    +displayDate(report.created_at)
                                            h6.card-title= report.name
                                            p.card-category=  report.id
                                    .card-body.hide(style='display:none;')
                                        if Object.keys(report.breakdown).length > 0
                                            h4.float-right Breakdown
                                            div
                                                +reportBreakdown(report.breakdown)
                                        if Object.keys(report.breakdown).length > 0 && Object.keys(report.properties).length > 0
                                            hr
                                        if Object.keys(report.properties).length > 0
                                            h4.float-right Properties
                                            div
                                                if report.name == 'known_faces'
                                                    +displayKnownFacesProperties(report.properties,0)
                                                else
                                                    +displayJson(report.properties,0)
                                                