extends layout

include mixins/prettyDisplay

block content
  .content
        .container-fluid
            .row.justify-content-center
                .col-xl-6.col-lg-8
                    .card
                        .card-header.card-header-info
                            h4.card-title= 'check: ' + check.id 
                        .card-body
                            .row.justify-content-center
                                .col-10.mt-4
                                    .form-group
                                        label.bmd-label-floating Applicant firstname
                                        input#firstName.form-control(type='text' disabled value=applicant.firstName)
                                    .form-group
                                        label.bmd-label-floating Applicant lastname
                                        input#lastName.form-control(type='text' disabled value=applicant.lastName)
                                    .form-group
                                        label.bmd-label-floating Status
                                        br
                                        +displayCheckStatus(check.status)
                                    .form-group
                                        label.bmd-label-floating Result
                                        br
                                        +displayCheckResult(check.result)

                                    .d-flex.justify-content-around
                                                a.btn.btn-info.mt-4(href='https://dashboard.onfido.com/checks/' + check.id + '/reports' target='_blank') view details

