extends layout

append head
    link(href='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css' rel='stylesheet')

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-xl-8.col-lg-12
                    .card
                        .card-header.card-header-warning
                            .float-left
                                a.btn.btn-warning.mr-4.goback &lt;
                            h4.card-title= 'Create a check for ' + applicant.firstName + ' ' + applicant.lastName
                        .card-body
                            form(method='post' action='')
                                .row.justify-content-center
                                        .col-10

                                            h6 Select reports
                                            hr
                                            .form-check
                                                label.form-check-label
                                                    input#reportDocument.form-check-input(type='checkbox' name='reportDocument' value='document')
                                                    | Document report
                                                    span.form-check-sign
                                                        span.check
                                            .form-check
                                                label.form-check-label
                                                    input#reportFacialSimilarity.form-check-input(type='checkbox')
                                                    | Facial similarity report
                                                    span.form-check-sign
                                                        span.check
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportFacialSimilarityPhoto.form-check-input(type='radio' name='reportFacialSimilarity' value='facial_similarity_photo' checked disabled)
                                                    | photo
                                                    span.circle
                                                        span.check
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportFacialSimilarityPhotoFullyAuto.form-check-input(type='radio' name='reportFacialSimilarity' value='facial_similarity_photo_fully_auto' disabled)
                                                    | photo fully auto
                                                    span.circle
                                                        span.check   
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportFacialSimilarityVideo.form-check-input(type='radio' name='reportFacialSimilarity' value='facial_similarity_video' disabled)
                                                    | video
                                                    span.circle
                                                        span.check
                                            .form-check
                                                label.form-check-label
                                                    input#reportKnownFaces.form-check-input(type='checkbox' name='reportKnownFaces' value='known_faces')
                                                    | Known faces report
                                                    span.form-check-sign
                                                        span.check
                                            .form-check
                                                label.form-check-label
                                                    input#reportIdentity.form-check-input(type='checkbox' name='reportIdentity' value='identiy_enhanced')
                                                    | identity enhanced report
                                                    span.form-check-sign
                                                        span.check
                                            .form-check
                                                label.form-check-label
                                                    input#reportWatchlist.form-check-input(type='checkbox')
                                                    | Watchlist report
                                                    span.form-check-sign
                                                        span.check
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportWatchlistEnhanced.form-check-input(type='radio' name='reportWatchlist' value='watchlist_enhanced' checked disabled)
                                                    | enhanced
                                                    span.circle
                                                        span.check
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportWatchlistStandard.form-check-input(type='radio' name='reportWatchlist' value='watchlist_standard' disabled)
                                                    | standard
                                                    span.circle
                                                        span.check
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportWatchlistPepsOnly.form-check-input(type='radio' name='reportWatchlist' value='watchlist_peps_only' disabled)
                                                    | PEPS only
                                                    span.circle
                                                        span.check
                                            .form-check.form-check-radio.ml-4.disabled
                                                label.form-check-label
                                                    input#reportWatchlistSanctionsOnly.form-check-input(type='radio' name='reportWatchlist' value='watchlist_sanctions_only' disabled)
                                                    | sanctions only
                                                    span.circle
                                                        span.check
                                            .form-check
                                                label.form-check-label
                                                    input#reportPoa.form-check-input(type='checkbox' name='reportPoa' value='proof_of_address')
                                                    | Proof of address report
                                                    span.form-check-sign
                                                        span.check
                                            .form-check
                                                label.form-check-label
                                                    input#reportRtw.form-check-input(type='checkbox' name='reportRtw' value='right_to_work')
                                                    | Right to work report
                                                    span.form-check-sign
                                                        span.check

                                            h6.mt-4 Select documents
                                            hr
                                            each document, index in documents
                                                .form-check
                                                    label.form-check-label
                                                        input.form-check-input(type='checkbox' name='doc'+index value=document.id)
                                                        | #{document.type} (#{document.side})
                                                        span.form-check-sign
                                                            span.check
                                            h6.mt-4 Tags
                                            hr
                                            #tagsInput
                                            input#tags(type='hidden' name='tags')
                                            
                                            h6.mt-4 Parameters
                                            hr
                                            .form-check.form-check-inline
                                                input#applicantProvidesData.form-check-input(type='checkbox' name='applicantProvidesData' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                label.form-check-label(for='applicantProvidesData') applicant provides data
                                            .d-flex.flex-column
                                                .form-check.form-check-inline.ml-4.disabled
                                                    input#asynchronous.form-check-input(type='checkbox' name='asynchronous' data-toggle='toggle' data-style='mr-1' data-size='xs' disabled)
                                                    label.form-check-label(for='asynchronous') asynchronous
                                                .form-check.form-check-inline.ml-4.disabled
                                                    input#suppressFormEmail.form-check-input(type='checkbox' name='suppressFormEmail' data-toggle='toggle' data-style='mr-1' data-size='xs' disabled)
                                                    label.form-check-label(for='suppressFormEmail') suppress form email
                                                .form-group.ml-4
                                                    label.bmd-label-floating Redirect URI
                                                    input#redirectUri.form-control(type='text' name='redirectUri' value='')
                                                //- p.ml-4 consider (for sandbox bonly) WIP
                                                //- #consider
                                                //- TODO add javascript to display checkboxes based on report selected

                                            .d-flex.justify-content-around
                                                button.btn.btn-info.mt-4(type='submit') create

append bottom
    script(src='/javascripts/checkForm.js')
    script(src='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js')                                  
                    