extends layout

append head
    link(href='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css' rel='stylesheet')
    // Onfido SDK CSS
    link(rel='stylesheet' href='/dist/style.css')

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-xl-8.col-lg-10
                    .card
                        .card-header.card-header-primary
                            h4.card-title= 'Web SDK configuration'
                        .card-body
                            .d-flex.flex-row.justify-content-center.flex-wrap
                                .d-flex.flex-column.flex-wrap
                                    h6.ml-5 Display
                                    .form-check.ml-5
                                        input#useModal.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                        label.form-check-label(for='useModal') display in modal                                    
                                    .form-check.ml-5
                                        input#welcomeStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='welcomeStep') add welcome step
                                    .form-check.ml-5
                                        input#completeStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='completeStep') add complete step
                                    .form-check.ml-5
                                        input#language.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' data-on="French" data-off="English" data-onstyle="info" data-offstyle="warning")
                                        label.form-check-label(for='language') language
                                .d-flex.flex-column.flex-wrap
                                    h6.ml-5 Capture
                                    .form-check.ml-5
                                        input#documentStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='documentStep') ID document
                                    .form-check.ml-5
                                        input#selfieStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='selfieStep') selfie
                                    .form-check.ml-5
                                        input#videoStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                        label.form-check-label(for='videoStep') video (liveness)
                                    .form-check.ml-5
                                        input#forceCrossDevice.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                        label.form-check-label(for='forceCrossDevice') force mobile device
                                    .form-check.ml-5
                                        input#useLiveDocumentCapture.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                        label.form-check-label(for='useLiveDocumentCapture') use live document capture
                                    .form-check.ml-5.d-none
                                        input#useWebcam.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                        label.form-check-label(for='useWebcam') use webcam
                                .d-flex.flex-column.flex-wrap
                                    h6.ml-5 accepted document types
                                    .form-check.ml-5
                                        input#acceptPassport.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='acceptPassport') passport
                                    .form-check.ml-5
                                        input#acceptNationalId.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='acceptNationalId') national ID card
                                    .form-check.ml-5
                                        input#acceptDrivingLicence.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='acceptDrivingLicence') driving licence
                                    .form-check.ml-5
                                        input#acceptResidencePermit.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='acceptResidencePermit') residence permit
                                    .form-check.ml-5
                                        input#showCountrySelection.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                        label.form-check-label(for='showCountrySelection') show country selection
                            .d-flex.flex-column.align-items-center
                                button#dislpaySdk.btn.btn-info.my-4(type='button' data-token=sdkToken) display SDK
                                #onfido-mount

append bottom
    script(src='/dist/onfido.min.js')
    script(src='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js')
    script(src='/javascripts/configSdk.js')
                    