extends layout

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-xl-6.col-lg-8
                    form(method='post' action='' enctype='multipart/form-data')
                        .card
                            .card-header.card-header-primary
                                h4.card-title= 'Create Document Check'
                            .card-body
                                .row.justify-content-center
                                    .col-10.mt-4
                                        .form-group
                                            label.bmd-label-floating Firstname
                                            input#firstName.form-control(type='text' name='firstName' value=applicant.firstName)
                                        .form-group
                                            label.bmd-label-floating Lastname
                                            input#lastName.form-control(type='text' name='lastName' value=applicant.lastName)
                                        
                                        .d-flex.justify-content-around.mt-4
                                            a(href='https://onfido.com/supported-documents/' target='_blank') supported documents
                                        
                                        .form-group
                                            label.bmd-label-floating Issuing country
                                            select#issuingCountry.form-control(name='issuingCountry')
                                                each country in countries
                                                    option(value=country.countryCode data-supportedDocuments=country.supportedDocuments)= country.countryName
                                        .form-group
                                            label.bmd-label-floating Document type
                                            select#type.form-control(name='type')
                                                option(value='unknown') Unknown
                                        
                                        .form-group
                                            label.bmd-label-floating Front side
                                            input#front.form-control(type='file' name='front' accept='image/jpeg,image/png,application/pdf' required)
                                            p (jpg/png/pdf - min: 32Ko max: 10Mo)

                                        #backInput.form-group
                                            label.bmd-label-floating Back side
                                            input#back.form-control(type='file' name='back' accept='image/jpeg,image/png,application/pdf')
                                            p (jpg/png/pdf - min: 32Ko max: 10Mo)


                                        .d-flex.justify-content-around
                                            button.btn.btn-info.mt-4(type='submit') Check Document

append bottom
    script(src='/javascripts/docCheck.js')
    script(src='/javascripts/selectCountryAndDocumentType.js')
                    