extends layout

block content
    d-flex.flex-column
      if error.response
        pre #{error.response}
        if error.response.data
          h6.mt-5 #{error.response.data.error.message}
        div(style='font-size: 0.7rem;')
          pre #{error.stack}
        a.btn.btn-outline-secondary.mt-5(href='/applicants/'+applicant.id) back
