extends layout

block content
    .d-flex.flex-column.justify-content-around
        //- .card.m-5(style='width:400px;')
        //-     .card-header.card-header-info.text-center
        //-         h6 Identity Verification in action
        //-     .card-body.m-4.text-center
        //-         a.btn.btn-sm.btn-outline-info.mr-2(href='/usecases/new') Select
        //-         span your business use cases
        .card.m-5(style='width:400px;')
            .card-header.card-header-primary.text-center
                h6.card-title Discover SDK and API
            .card-body.m-4.text-center
                a.btn.btn-sm.btn-outline-primary.mr-2(href='/applicants/') Select 
                span or 
                button.btn.btn-sm.btn-outline-success.mx-2(data-toggle='modal' data-target='#createApplicant') create 
                span applicant