extends layout

block content
    .d-flex.flex-column.justify-content-around
        //- .card.m-5(style='width:400px;')
        //-     .card-header.card-header-info.text-center
        //-         h6 Identity Verification in action
        //-     .card-body.m-4.text-center
        //-         a.btn.btn-sm.btn-outline-info.mr-2(href='/usecases/select') Select
        //-         span your business use cases
        .card.m-5(style='width:400px;')
            .card-header.card-header-primary.text-center
                h6.card-title Souscrire mon assurance auto
            .card-body.m-4.text-center
                a.btn.btn-sm.btn-info.mr-2(href='/launcher/') En voiture Simone ! 