extends layout

block content
  .content
        .container-fluid
            .row.justify-content-center.mt-2
                .col-12.text-center
                  img(src='images/onfido-logo.png' width='250px')
                  .card.mt-5
                        .card-header.card-header-success
                            h4.card-title Demos
                        .card-body
                            .d-flex.flex-row.justify-content-center.flex-wrap
                                .card.text-center.mr-4.js-clickable(href='/document-authentication', style='width:12rem;')
                                    i.material-icons.pt-4(style='font-size:48px') grading
                                    .card-body
                                        p.card-text Document Authentication
                                .card.text-center.mr-4.js-clickable(href='/web-sdk-configuration', style='width:12rem;')
                                    i.material-icons.pt-4(style='font-size:48px') settings
                                    .card-body
                                        p.card-text Web SDK configuration
                                .card.text-center.mr-4.js-clickable(href='/reporting-and-monitoring', style='width:12rem;')
                                    i.material-icons.pt-4(style='font-size:48px') analytics
                                    .card-body
                                        p.card-text Reporting And Monitoring
                                .card.text-center.js-clickable(href='/self-identification/start', style='width:12rem;')
                                    i.material-icons.pt-4(style='font-size:48px') photo_camera
                                    .card-body
                                        p.card-text Self Identification

