doctype html

include mixins/prettyDisplay
include mixins/reportBreakdown

block head
    head
        meta(charset='utf-8')
        link(rel='apple-touch-icon' sizes='76x76' href='/assets/img/apple-icon.png')
        link(rel='icon' type='image/png' href='/images/favicon-onfido.png')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        title
            | ONFIDO DEMO (TGA)
        meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport')
        // Fonts and icons
        //- link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
        //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
        // CSS Files
        //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous')
        //- link(rel='stylesheet' href='/assets/css/material-dashboard.css')
        //- link(rel='stylesheet' href='/stylesheets/style.css')

body
    .wrapper
        
        .main-panel
            .content.d-flex.flex-row.align-items-stretch.justify-content-between.mx-2
                .d-flex.flex-column.justify-content-start.p-2
                    // Content
                    block content

    block bottom
        // Core JS Files
        script(src='/assets/js/core/jquery.min.js')
        script(src='/assets/js/core/popper.min.js')
        script(src='/assets/js/core/bootstrap-material-design.min.js')
        script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
        // Plugin for the momentJs
        script(src='/assets/js/plugins/moment.min.js')
        // Plugin for Sweet Alert
        script(src='/assets/js/plugins/sweetalert2.js')
        // Forms Validations Plugin
        script(src='/assets/js/plugins/jquery.validate.min.js')
        // Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard
        script(src='/assets/js/plugins/jquery.bootstrap-wizard.js')
        // Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select
        script(src='/assets/js/plugins/bootstrap-selectpicker.js')
        // Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/
        script(src='/assets/js/plugins/bootstrap-datetimepicker.min.js')
        // DataTables.net Plugin, full documentation here: https://datatables.net/
        script(src='/assets/js/plugins/jquery.dataTables.min.js')
        // Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs
        script(src='/assets/js/plugins/bootstrap-tagsinput.js')
        // Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput
        script(src='/assets/js/plugins/jasny-bootstrap.min.js')
        // Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar
        script(src='/assets/js/plugins/fullcalendar.min.js')
        // Vector Map plugin, full documentation here: http://jvectormap.com/documentation/
        script(src='/assets/js/plugins/jquery-jvectormap.js')
        // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
        script(src='/assets/js/plugins/nouislider.min.js')
        // Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert
        script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js')
        // Library for adding dinamically elements
        script(src='/assets/js/plugins/arrive.min.js')
        // Google Maps Plugin
        //script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
        // Chartist JS
        script(src='/assets/js/plugins/chartist.min.js')
        // Notifications Plugin
        script(src='/assets/js/plugins/bootstrap-notify.js')
        // Control Center for Material Dashboard: parallax effects, scripts for the example pages etc
        script(src='/assets/js/material-dashboard.js')

        // Custom scripts
        script(src='/javascripts/scripts.js')



