extends layout

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-xl-8.col-lg-12
                    form
                        .card
                            .card-header.card-header-info
                                .float-left
                                    button.btn.btn-info.mr-4.goback &lt;
                                h4.card-title= 'Photo created at '
                                    +displayDate(photo.createdAt)
                                p.card-category=  photo.id
                            .card-body
                                .row.justify-content-center
                                    .col-10
                                        .form-group
                                            label.bmd-label-floating File name
                                            input#fileName.form-control(type='text' disabled value=photo.fileName)
                                        .form-group
                                            label.bmd-label-floating File type
                                            input#fileType.form-control(type='text' disabled value=photo.fileType)
                                        .form-group
                                            label.bmd-label-floating File Size
                                            input#fileSize.form-control(type='text' disabled value=(Math.round(photo.fileSize/1024) + ' Ko'))
                                        .d-flex.justify-content-around.mt-4
                                            a.btn.btn-primary(href='/resources/photos/' + photo.id + '/download' target='_blank') view

