extends layout2

block content
    h4.text-info.font-weight-bold.mt-4 Product Selection
    a.btn(href='/usecases/registration/form') Subscribe Product A
    a.btn(href='/usecases/registration/form') Subscribe Product B
    a.btn(href='/usecases/registration/form') Subscribe Product C