extends layout

block content
    .content
        .container-fluid
            .row
                .col-xl-6.col-lg-12
                    form
                        .card
                            .card-header.card-header-primary
                                .float-left
                                    button.btn.btn-primary.mr-4.goback &lt;
                                h4.card-title= 'Report created at '
                                    +displayDate(report.createdAt)
                                p.card-category=  report.id
                            .card-body
                                .row
                                    .col-10
                                        .form-group
                                            label.bmd-label-floating name
                                            input#name.form-control(type='text' disabled value=report.name)
                                        .form-group
                                            label.bmd-label-floating Properties
                                            br
                                            +displayJson(report.properties,0)
                                        .form-group
                                            label.bmd-label-floating Status
                                            br
                                            +displayReportStatus(report.status)
                                        .form-group
                                            label.bmd-label-floating Result
                                            br
                                            +displayReportResult(report.result)
                                        .form-group
                                            label.bmd-label-floating Sub Result
                                            br
                                            +displayReportSubResult(report.subResult)
                .col-xl-6.col-lg-12
                    .card
                        .card-header.card-header-success
                            h4.card-title Breakdown
                        .card-body
                            include mixins/reportBreakdown
                            +reportBreakdown(report.breakdown)
                            
                            //- pre
                            //-     code= JSON.stringify(report.breakdown, null, 4)