extends layout

block content
    .card
        .card-header
            div(data-toggle='toggle')
                .float-right
                    if report.subResult
                        +displayResult(report.sub_result)
                    else if report.result
                        +displayResult(report.result)
                    else
                        +displayStatus(report.status)
                h6.card-title= report.name
                p.card-category=  report.id
        .card-body
            if Object.keys(report.breakdown).length > 0
                h4.float-right Breakdown
                div
                    +reportBreakdown(report.breakdown)
            if Object.keys(report.breakdown).length > 0 && Object.keys(report.properties).length > 0
                hr
            if Object.keys(report.properties).length > 0
                h4.float-right Properties
                div
                    +displayJson(report.properties,0)
