extends layout

append head
    link(href='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css' rel='stylesheet')
    // Onfido SDK CSS
    link(rel='stylesheet' href='/dist/style.css')

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-lg-6.col-md-8.col-sm-12
                    .card
                        .card-header.card-header-info
                            .float-left
                                button.btn.btn-info.mr-4.goback &lt;
                            h4.card-title= 'Video facial'
                            p.card-category=  'Applicant id: ' + video.applicant_id
                        .card-body
                            .d-flex.justify-content-around
                                #sdkOptions.card.mx-3.mb-1
                                    .card-body
                                        h6.card-title SDK options
                                        .d-flex.justify-content-around
                                            .d-flex.flex-column.flex-wrap
                                                .form-check.form-check-inline
                                                    input#useModal.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                    label.form-check-label(for='useModal') display in modal
                                                .form-check.form-check-inline
                                                    input#welcomeStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                    label.form-check-label(for='welcomeStep') add welcome step
                                            .d-flex.flex-column.flex-wrap
                                                .form-check.form-check-inline
                                                    input#forceCrossDevice.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                    label.form-check-label(for='forceCrossDevice') capture on mobile device
                                                .form-check.form-check-inline
                                                    input#useMultipleSelfieCapture.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                                    label.form-check-label(for='useMultipleSelfieCapture') take additional selfie snapshots
                            .d-flex.justify-content-around
                                .card.text-center.js-showOnfidoWebSdk(style='width:12rem;' data-token=sdkToken data-applicant-id=video.applicant_id)
                                    i.material-icons.md-primary.pt-4(style='font-size:48px; color: #9c27b0;') camera_enhance
                                    .card-body.text-primary
                                        p.card-text= 'Onfido SDK'   
                            #onfidoWebSdk(style='display: none')
                                .row.justify-content-center
                                    #onfido-mount
        
append bottom
    script(src='/dist/onfido.min.js')
    script(src='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js')
    script(src='/javascripts/videoUpload.js')
