include prettyDisplay
      
mixin reportBreakdown(breakdown)
    append header
        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css')

    .d-flex.flex-row.justify-content-center.flex-wrap
        each val, key in breakdown
            .card.mx-2.p-2(style='width:18rem;')
                h6= key
                    +displayBreakdownIcon(val.result)
                if val.breakdown
                    each val2, key2 in val.breakdown
                        p.my-1= key2
                            +displayBreakdownIcon(val2.result)
                        if val2.properties
                            each val3, key3 in val2.properties
                                p.my-1.ml-4= key3
                                    +displayBreakdownIcon(val3)